.qns-banner {
    background-color: darkorchid;
    width: 600px;
    height: 100px;
    margin: 20px auto;
    padding: 10px;
  }
  .ans-btn {
    display: flex;
    justify-content: space-evenly;
    /* height: 40px; */
    /* width: 0px; */
  }
  .ans-btn button {
    height: 40px;
    width: 80px;
    background-color: peachpuff;
    border: 1px solid grey;
    cursor: pointer;
  }
  